<!-- SUB MENU-->

<div id="submenu" class="row">
    <div class="col-lg-6">
      <ul class="nav text-uppercase" >
        <li class="nav-item sub-menu item-selected">
          <a class="nav-link active" href="#">Sent Campaigns</a>
        </li>
        <li class="nav-item sub-menu">
          <a class="nav-link" href="#">Drafts</a>
        </li>
        <li class="nav-item sub-menu">
          <a class="nav-link" href="#">Templates</a>
        </li>
      </ul>
    </div>
  
    <div class="col-lg-6">
      <button class="btn button-create">
          <i class="fa fa-plus-circle" ></i>
          Create campaign
      </button>
    </div>
  </div>

<!-- NOTIFICATIONS FEED-->

<app-notifications-feed></app-notifications-feed>

<!-- CONTENT -->

<app-sent-campaings></app-sent-campaings>