h2{
    font-weight: bold;
    margin-top: 3%;
    margin-left: 10%;
}

table{
    margin-left: 10%;
    margin-top: 5%;
    width: 60%;

    th{
        display: table-cell;
        width: 100px;
        color: #C0C0C0;
        align: center;
        font-size: 70%;
        text-transform: uppercase;

    }

    td{
        text-align: center; 
    }
}

.title{
    width: 30%;
}

.number-messages{
    border: 10px solid #0321d7;
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background-color:#0321d7;
    
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    color: white;
    font-size: 60%;
}

.empty-messages{
    border: 10px solid #C0C0C0;
    height: 10px;
    width: 10px;
    border-radius: 50%;
    
    display: table-cell;
    text-align: center;
    vertical-align: middle;

}

