//GENERAL

h2{
    font-weight: bold;
    margin-top: 3%;
    margin-left: 10%;
}

.title{
    width: 30%;
}

// TABLE

table{
    margin-left: 10%;
    margin-top: 5%;
    width: 60%;

    th{
        display: table-cell;
        width: 100px;
        color: #C0C0C0;
        align: center;
        font-size: 70%;
        text-transform: uppercase;

    }

    td{
        text-align: center; 
    }
}

