<nav>
  <!--<img class="logo" src="#" alt="logo-hyundai"/> -->
    <div class="menu user-info">
        <i class="fas fa-ellipsis-h"></i>
    </div>
    <div class="menu user-info">
      <h6> Isabela Eifert </h6>
      <p> Softwate developer</p>
    </div>
    <div class="menu">
      <img id="user-picture" src="assets/imgs/user-picture.png" alt="userpicture">
    </div>
    <div class="menu menu-separator">
      <i id="alert" class="far fa-bell"></i>
    </div>
    <div id="navigation" class="menu menu-separator"> 
      <ul>
        <li>
          <a href="#"> campaigns </a>
        </li>
        <li>
          <a href="#"> customers </a>
        </li>
        <li>
          <a href="#"> reports </a>
        </li>
      </ul>
    </div>
    
    

  
</nav>
