/*
NAVIGATION
*/

// GENERAL
nav{
    background-color: #0321d7;
    width: 100%;
    height: 80px;
    text-transform: uppercase;
    color: white; 
    font-weight: bold;
}

.menu{
    float: right;
    display: inline;
    max-height: 80px;    
}

.menu-separator{
    border-right:1px solid #021ab9;
    height:80px;
    margin-top: 0px;
}

//LOGO

.logo{
    font-size: 20px;
    vertical-align: center;
    float: left;
}

// OPTIONS NAVIGATION

nav a{
    color: white; 
}

nav a:hover{
    border-bottom: 3px solid #C0C0C0;
    padding-bottom: 5px;
    color: #C0C0C0; 
    text-decoration: none;
}

.selected{
    border-bottom: 3px solid white;
    padding-bottom: 5px;
}

nav ul{
    list-style: none;
    margin: 15px;
    padding: 15px;
}

nav ul li{
    display: inline;
    margin: 15px;
    padding: 15px;
    
}

// ICON ALERT

#alert{
    margin: 33px;
}

// USER INFO

#user-picture{
    margin: 15px;
    width: auto;
    height: 50px;
    border-radius: 50%;
    border: 3px solid white
}

.user-info{
    display: inline;
    margin: 8px;
    padding: 8px;
    
}

#user-name{
    text-transform: capitalize;
    font-weight: bold;
}

#user-ocupation{
    font-size: 70%;
    font-weight: bold;
}

// FOOTER

.content {
    min-height: 100%;
}

.content-inside {
    padding: 20px;
    padding-bottom: 50px;
    margin-bottom: 10px; 
}

.footer{
    height: 50px;
    width: 100%;
    margin-top:50px; 
    position: absolute;
  }

#info-footer{
    padding-left: 50px;
}

#info-footer p{
    color: #C0C0C0;
    font-weight: bold
}

#title-footer{
    color: #808080  !important;
}


