// GENERAL
.notification-menu{
    width: 25%;
    float: right;
    justify-content: center;
}

li:hover{
    color: #0321d7;
}

h5{
    font-weight: bold;
}

ul, ol, li {
    list-style: none;
    padding: 0px;
}

// ICONS NOTIFICATON

.icon-type{
    background-color: #DCDCDC;
    padding: 5%;
    width: 50px;
    height: auto;
    border-radius: 15%;
    vertical-align: middle;
    align-content: center;
    display: inline-block;
    margin: 1px;
}

.icon-selected{
    background-color: #0321d7;
}

// MESSAGES

.day-separator{
    font-weight: bold;
    border-top: 1px solid #DCDCDC;
    border-bottom: 1px solid #DCDCDC;
}

#messages-notification{
    margin: 10px, 0px, 50px, 0px;
    display: table;    
}

.icon-notification-messages{
    width: 5%;
    float: left;
}

.information-notification-messages{
    margin-left: 15%;
}

