/* IMPORTS */

@import '~bootstrap/dist/css/bootstrap.min.css';

/* VARIABLE */

$base-color: #0321d7;
$detail-color:#C0C0C0;

.navbar-position{
    align: left; 
}

.nav-link{
    color: #808080;
}

body{
    font-family: Dosis, sans-serif;   
    color : #808080;
    height: 100%;
    margin: 0;

    a {
        color: #808080;
    }

    ul{
        color: white;
    }
}

.spotlight{
    color: $base-color;
    font-weight: bold;
    text-align: left;
}

.detail{
    color: $detail-color;
    font-size: 70%;
    margin: auto;
    text-align: left;
}

